---
---

// colors
[data-dark="false"] {
  --primary: #655746;
  --secondary: #8a7863;
  --text: #302c27;
  --background: #f2f0ec;
  --background-alt: #e8e4dd;
  --light-gray: #d5cec3;
  --gray: #81786d;
  --dark-gray: #554d43;
  --overlay: #2e261a20;
}
[data-dark="true"] {
  --primary: #79b9ff;
  --secondary: #a3d5ff;
  --text: #e8f1fb;
  --background: #081b33;
  --background-alt: #0d2746;
  --light-gray: #1b3b60;
  --gray: #8ba1bb;
  --dark-gray: #bacbe0;
  --overlay: #ffffff10;
}

:root {
  // font families
  --title: "Barlow", sans-serif;
  --heading: "Barlow", sans-serif;
  --body: "Barlow", sans-serif;
  --code: "Roboto Mono", monospace;

  // font sizes
  --large: 1.2rem;
  --xl: 1.4rem;
  --xxl: 1.6rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 2;
  --compact: 1.5;

  // effects
  --rounded: 3px;
  --shadow: 0 0 10px 0 var(--overlay);
  --transition: 0.2s ease;
}
