{% assign image = page.footer | default: site.footer %}

<footer
  class="background"
  style="--image: url('{{ image | relative_url | uri_escape }}')"
  data-size="wide"
>
  <div class="labx-footer-contact">
    <strong>Contact</strong>
    <a href="mailto:{{ site.links.email }}">{{ site.links.email }}</a>
    <span>{{ site.data.identity.affiliation.address_en }}</span>
  </div>

  <div>
    {% for link in site.links %}
      {% assign key = link[0] %}
      {% assign value = link[1] %}
      {% include button.html type=key text="" link=value style="bare" %}
    {% endfor %}
  </div>

  <div>
    &copy; {{ site.time | date: "%Y" }}
    {{ site.title }}
  </div>

  <input
    type="checkbox"
    class="dark-toggle"
    data-tooltip="Dark mode"
    aria-label="toggle dark mode"
    oninput="onDarkToggleChange(event)"
  >
</footer>
